<div class="w-3/4 text-center mx-auto mt-6">
    <table class="table table-bordered">
        <thead class="bg-orange-500 text-white">
            <tr>
                <th scope="col">ID USER</th>
                <th scope="col">ID</th>
                <th scope="col">TITULO</th>
                <th scope="col">COMPLETO</th>
                <th scope="col">EDITAR</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let dato of entrada;">
                <td>{{dato.userId}}</td>
                <td>{{dato.id}}</td>
                <td>{{dato.title}}</td>
                <td>{{dato.completed}}</td>
                <td><button class="bg-blue-500 text-white py-1 px-3 rounded hover:bg-green-500" (click)="validar(dato.id)">Detalles</button></td>
            </tr>
        </tbody>
    </table>
</div>